body {
    font-family: arial;
    font-size: 12px;
}

#meter {
    position: relative;
}

#canvas_container {
    width: 1200px;
    height: 500px;
    position: relative;
    background-color: rgb(239, 239, 239);
}

    #canvas_container canvas {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    #canvas_container #static {
        background-color: #eee;
        background-image: linear-gradient(45deg, #FAFAFA 25%, transparent 25%, transparent 75%, #FAFAFA 75%, #FAFAFA), linear-gradient(45deg, #FAFAFA 25%, transparent 25%, transparent 75%, #FAFAFA 75%, #FAFAFA);
        background-size: 20px 20px;
        background-position: 0 0, 10px 10px;
    }

#vision_container {
    margin-top: 10px;
    width: 1200px;
    font-size: 10px;
}

    #vision_container .item {
        border: 1px solid gray;
        padding-left: 5px;
        margin-bottom: -1px;
    }

.vision {
    background-color: red;
    width: 1080px;
    height: 11px;
    float: right;
    position: relative;
}

    .vision .segment {
        background-color: darkgreen;
        width:0px;
        height:11px;
        left: 0px;
        position: absolute;
    }
